.news, .entry, .posts {
    width: 100%;
    height: calc(100% / 3);
}

.entry {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.button-entry-join, .button-entry-create {
    width: 45%;
    text-align: center;
    height: 90%;
    border: 1px solid black;
    border-radius: 30px 30px 30px 30px;
}

.swiper-slide img {
    width: 100%;
}
